/* Images */
#imageForm{
  width: 100%;
  height: 100%;
}
body{
  background-repeat: no-repeat;
  background-color: var(--myPurpleShadow);
  
}
/* Formulary */
.formulary {
  background: url(../images/galactic.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 70%;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px #0F1011;
}
.leftForm {
  width: 40%;
  background: #0F1011;
  border-right: 5px solid var(--myPurple);
}
h2 {
    font-weight: 300;
}
p {
    font-size: 18px;
}
.rightForm {
  width: 70%;
  padding: 30px 0;
  background: #0f1011ce;
  transition: .2s;
}
.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid var(--myPurple);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}
.fieldsList {
  list-style-type: none;
  padding: 0;
}
.nextButton {
  border: 1px solid var(--myPurple);
  background: rgba(20, 20, 20, 0.705);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;

}
.nextButton:hover {
    padding: 10px 80px;
    background: linear-gradient(45deg, rgba(118, 6, 133, 0.685), rgba(64, 21, 92, 0.856));
}


/* Show Password Button*/
.showPassword {
  margin-left: -30px; 
  cursor: pointer;
}
.eyeImage{
  width: 5%;
}
.eyeImage:hover {
  opacity: 20%;
}

