@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Images */
#imageForm{
  width: 100%;
  height: 100%;
}
body{
  background-repeat: no-repeat;
  background-color: var(--myPurpleShadow);
  
}
header{
  background: url(../images/Banner2.gif);
  background-size: 40% 80%;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 1%;
  
}
/* Formulary */
.formulary {
  background: url(../images/galactic.png);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 70%;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px #0F1011;
}
.leftForm {
  width: 40%;
  background: #0F1011;
  border-right: 5px solid var(--myPurple);
}
h2 {
    font-weight: 300;
}
p {
    font-size: 18px;
}
.rightForm {
  width: 70%;
  padding: 30px 0;
  background: #0f1011ce;
  transition: .2s;
}
.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid var(--myPurple);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}
.fieldsList {
  list-style-type: none;
  padding: 0;
}
.nextButton {
  border: 1px solid var(--myPurple);
  background: rgba(20, 20, 20, 0.705);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  transition: .4s;

}
.nextButton:hover {
    padding: 10px 30px;
    background: linear-gradient(45deg, rgba(118, 6, 133, 0.685), rgba(64, 21, 92, 0.856));
}


/* Show Password Button*/
.showPassword {
  margin-left: -30px; 
  cursor: pointer;
}
.eyeImage{
  width: 5%;
}
.eyeImage:hover {
  opacity: 20%;
}


/* Check input */
.wrapper{
  display: inline-flex;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 15px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 30%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: var(--myPurple);
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#creditCard:checked:checked ~ .creditCard,
#paypal:checked:checked ~ .paypal,
#el:checked:checked ~ .el,
#ella:checked:checked ~ .ella,
#elle:checked:checked ~ .elle,
#player:checked:checked ~ .player,
#dungeonMaster:checked:checked ~ .dungeonMaster,
#playerAndDm:checked:checked ~ .playerAndDm{
  background: var(--myPurple);
}
#creditCard:checked:checked ~ .creditCard .dot,
#paypal:checked:checked ~ .paypal .dot,
#el:checked:checked ~ .el .dot,
#ella:checked:checked ~ .ella .dot,
#elle:checked:checked ~ .elle .dot,
#player:checked:checked ~ .player .dot,
#dungeonMaster:checked:checked ~ .dungeonMaster .dot,
#playerAndDm:checked:checked ~ .playerAndDm .dot{
  background: #fff;
}
#creditCard:checked:checked ~ .creditCard .dot::before,
#paypal:checked:checked ~ .paypal .dot::before,
#el:checked:checked ~ .el .dot::before,
#ella:checked:checked ~ .ella .dot::before,
#elle:checked:checked ~ .elle .dot::before,
#player:checked:checked ~ .player .dot::before,
#dungeonMaster:checked:checked ~ .dungeonMaster .dot::before,
#playerAndDm:checked:checked ~ .playerAndDm .dot::before{
  opacity: 1;
  transform: scale(1);
}
#creditCard:checked:checked ~ .creditCard span,
#paypal:checked:checked ~ .paypal span,
#el:checked:checked ~ .el span,
#ella:checked:checked ~ .ella span,
#elle:checked:checked ~ .elle span,
#player:checked:checked ~ .player span,
#dungeonMaster:checked:checked ~ .dungeonMaster span,
#playerAndDm:checked:checked ~ .playerAndDm span{
  color: #fff;
}


/* Progress bar */
.progress {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
}
.progress .circle,
.progress .bar {
  display: inline-block;
    /* background: #fff; */
    width: 40px;
    height: 40px;
    /* border-radius: 40px; */
    /* border: 1px solid #d5d5da; */
    /* box-shadow: 1px 5px 10px 1px #0f1011;*/
}
.progress .bar {
  position: relative;
  z-index: -1;
  width: 170px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 33px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
  
}
.progress .circle .title {
  color: #ffffffef;
  background-color: rgba(41, 16, 73, 0.644);
  padding: 10%;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 14px;
  line-height: 30px;
  margin-left: -15px;
  font-weight: bold;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: #eee;
  border-radius: 40px; 
}
.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
  color: grey;
}
.progress .circle.active .label {
  color: #FFF;
  background: rgba(255, 0, 0, 0);
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
  color: #c164ff;
}

/* Character in the progress bar */
#character{
  width: 240%;
  margin-left: -30px;
	animation: shake 5s;
  animation-iteration-count: infinite;
}
#character:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
