@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
/* Color variables */
:root {
	--myPurple: #511e9f;
	--myPurpleShadow: #36264f;
}

/* Images */
#imageForm{
    width: 50%;
    height: 70%;
}

/* Formulary */
.formulary {
  background: url(../images/amogus02.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 70%;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px #0F1011;
}
.leftForm {
  width: 45%;
  background: #0F1011;
  padding: 30px 0;
  border-right: 5px solid var(--myPurple);
}
h2 {
    padding-top: 30px;
    font-weight: 300;
}
p {
    font-size: 18px;
}
.rightForm {
  width: 70%;
  padding: 30px 0;
  background: #0f1011ce;
  transition: .2s;
}
.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid var(--myPurple);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}
.fieldsList {
  list-style-type: none;
  padding: 0;
}
.nextButton {
  border: 1px solid var(--myPurple);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;

}
.nextButton:hover {
    padding: 10px 80px;
    background: linear-gradient(45deg, greenyellow, dodgerblue);
}
