body{
    background-repeat: no-repeat;
    background-color: var(--myPurpleShadow);
}
.back{
    background: url(../images/galactic.png);
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    height: 40%;
    width: 100%;
    color: white;
    box-shadow: 3px 10px 20px 5px #0F1011;
    transition: .2s;
  }
.userBox{
    width: 420px; 
    height: 900px; 
    margin: 0 auto;
    margin-top: -6%;
}
.userImage{
    width: 103%; 
    padding: 10px; 
    text-align:center;
    border: 2px solid var(--myYellow); 
    background: url(../images/Banner2.gif);
    background-position: 49%;
}
.userImage img{
    width: 30%; 
}

.userTitle{
    font: 36px; 
    color: white; 
    background: var(--myPurpleShadow); 
    width: 106.1%; 
    padding: 5px; 
    text-align:center; 
    text-transform: uppercase; 
    font-weight: bold;
    border: 2px solid var(--myYellow); 
}

.userData{
    font: 16px; 
    color: white; 
    border: 10px solid var(--myYellow); 
    width: 100%; 
    padding: 10px;
    background: var(--myPurple);
    height: 315px; 
    overflow: auto;
    background-image: url("../images/galactic.png");
}

.textField{
    height: 260px; 
    overflow: auto;
    text-align: center;
    margin-top: 2px;
    padding-top: 4%;
    background-color: rgba(47, 14, 78, 0.644);
    border-radius: 15px;
}
.fieldTitle{
    font: 36px; 
    color: white; 
    background: var(--myPurpleShadow); 
    padding: 5px; 
    text-align:center; 
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 1px;
    border: 1px solid;
    border-color: var(--myYellow);
}
#fieldHover {
    transition: .8s; 
    height:35px; 
    overflow:hidden;
}
#fieldHover:hover {
    height: 100px;
}

.userPayMethod{
    margin-left: 4.5px;
    width: 108.5%;
}