/* Titles and texts */
h1{
  padding: 10%;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

/* Header */
header{
  background-image: url(../images/header.jpg);
  height: 100%;
}
#logo{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  
}
.intro{
  bottom: 90px;
  left: 16px;
  width: 50%;
  padding: 1%;
  background-color: #2c182e7e;
  border-radius: 5px;
  margin-left: 23%;
  font-size: 19px;
  box-shadow: rgba(0, 0, 0, 0.836) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.columnsHeader{
  margin-left: auto;
	margin-right: auto;
	width:100%;
} 
.columnHeader {
  float: left;
  width: 10%;
  background-color: #2c182e7e;
  padding: 1%;
  margin-top: 1%;
  margin-left: 3.5%;
  margin-right: 4.5%;
  box-shadow: rgba(0, 0, 0, 0.836) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.buttonPlans{
  transform: translate(551%, -10%);
  margin-bottom: 1%;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.836) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

a:link, a:visited {
    background-color: var(--myPurpleShadow);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
  }
  
  a:hover, a:active {
    background-color: var(--myPurple);
  }



  /* Columns Plans */
  /* Three equal columns */
.plans{
  margin-left: auto;
	margin-right: auto;
	width: 100%;
} 
.column {
    float: left;
    width: 25%;
    padding: 5px;
    margin-left: 5%;
    margin-right: 1%;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .columnTitle{
    color: white;
    font-size: 36px;
  }
  #columnTitle1{
    background-color: var(--myYellow);
  }
  #columnTitle2{
    background-color: var(--myRed);
  }
  #columnTitle3{
    background-color: var(--myPurple);
  }

  /* Columns Content */
  /* Create two equal columns that floats next to each other */
.containerPlans{
    display: flex;
    justify-content: center;
} 
.columnContent {
    float: left;
    width: 25%;
    padding: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

/* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Images */
#character{
    width: 18%;
    background-color: white;
}

#imgHeader{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imgContent{
 width: 100%;
}
#imgContent:hover {
    opacity: 10%;
  }



/* Different Plan Buttons */
  #planButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--myPurple);
    background: var(--myPurpleShadow);
    font-size: 18px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    transition: .4s;
  }
  #planButton:hover {
      padding: 10px 30px;
      background: linear-gradient(45deg, rgba(118, 6, 133, 0.685), rgba(64, 21, 92, 0.856));
  }