body{
    background: rgb(0,0,0);
    background: linear-gradient(318deg, rgba(0,0,0,1) 0%, rgba(54,38,79,1) 71%, rgba(81,30,159,1) 100%);
}

/* Titles and texts */
h1{
    text-align: center;
}

/* Button Plans */
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }


  /* Columns Plans */
  /* Create three equal columns that floats next to each other */
.plans{
    margin-left: auto;
	margin-right: auto;
	width: 100%;
} 
.column {
    float: left;
    width: 30%;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
  }
  
/* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
}