body{
  background-image: url("../images/galactic3.png");
  background-size: 100% 200%;
}

/* Titles and texts */
h1{
  padding: 10%;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 5px 5px #000000;
    margin-top: 5%;
    margin-bottom: 0.5%;
}

/* Header */
header{
  background-image: url(../images/header.png);
  height: 100%;
}
#logo{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  
}
.intro{
  bottom: 90px;
  left: 16px;
  width: 50%;
  padding: 1%;
  background-color: #2e18187e;
  border-radius: 5px;
  margin-left: 23%;
  font-size: 19px;
  box-shadow: rgba(0, 0, 0, 0.836) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.columnsHeader{
  margin-left: auto;
	margin-right: auto;
	width:100%;
} 
.columnHeader {
  float: left;
  width: 10%;
  background-color: #2e18187e;
  padding: 1%;
  margin-top: 1%;
  margin-left: 3.5%;
  margin-right: 4.5%;
  box-shadow: rgba(0, 0, 0, 0.836) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.buttonPlans{
  margin-left: 43.6%;
  margin-top: 2%;
  margin-bottom: 1%;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.836) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

a:link, a:visited {
    background-color: var(--myPurpleShadow);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
  }
  
  a:hover, a:active {
    background-color: var(--myPurple);
  }



  /* Columns Plans */
  /* Three equal columns */
.plans{
  margin-left: auto;
	margin-right: auto;
	width: 100%;
} 
.column {
    float: left;
    border-radius: 5px;
    width: 25%;
    padding: 5px;
    margin-left: 5%;
    margin-right: 1%;
    background-color: rgba(92, 41, 75, 0.473);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
}
 
  #columnTitle1{
    border: solid 5px var(--myYellow);
    background-color: rgba(75, 41, 9, 0.473);
  }
  #columnTitle2{
    border: solid 5px var(--myRed);
    background-color: rgba(75, 9, 9, 0.473);
  }
  #columnTitle3{
    border: solid 5px var(--myPurple);
    background-color: rgba(54, 9, 75, 0.473);
  }

  /* Columns Content */
  /* Create two equal columns that floats next to each other */
.containerPlans{
    display: flex;
    justify-content: center;
} 
.columnContent{
    float: left;
    width: 25%;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    
    background-color:rgba(25, 9, 51, 0.342);
  }

  #blocked img{
    filter: grayscale(100%);
    filter: blur(3px);
  }
  
  #blocked p{
    color: rgb(32, 23, 48);
  }


/* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Images */
#character{
    width: 18%;
}

#imgHeader{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imgContent{
 width: 100%;
}
#imgContent:hover {
    opacity: 80%;
    transition-duration: 1s;
  }

  #imgPlan{
    width: 80%;
  }


/* Different Plan Buttons */
  #planButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--myPurple);
    background: var(--myPurpleShadow);
    font-size: 18px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #planButton:hover {
      padding: 10px 30px;
      background: linear-gradient(45deg, rgba(118, 6, 133, 0.685), rgba(64, 21, 92, 0.856));
  }