.userBox {
    width:700px;
    margin:10px auto;
    height: 1000px;
}
  
.userBox .userHead, .userBox .userTitle, 
.userBox .top, .userBox .sgbot, 
.userBox .userData, .userBox .userData span, 
.userBox .userData i {
    display:flex;
    justify-content:center;
    align-items:center;
}

.userBox .userHead {
    border:var(--border2);
    background:var(--accent2);
    color:var(--title);
    font:10px 'Fira Sans';
    font-style:italic;
    text-shadow:var(--shadow-d);
    padding:20px;
    border-radius:10px 10px 0 0;
}

.userBox .userTitle {
    flex-direction:column;
    font:12px 'Fira Sans';
    text-transform:uppercase;
    align-items:flex-start;
    flex-grow:1;
    margin-left:20px;
}

.userBox .userTitle em {
    font-size:10px;
    font-style:normal;
}

.userBox .userBody {
    border-radius:0 0 10px 10px;
    border:var(--border1);
    height:300px;
    position:relative;
    border-top:0;
    overflow:hidden;
    transition:ease 1s;
    background:var(--bckg1);
}

.userBox .top {
    width:410px;
    height:260px;
    position:absolute;
    right:20px;
    top:20px;
    transition:ease 1s;
}

.userBox .sgbot {
    width:410px;
    height:460px;
    position:absolute;
    right:-410px;
    top:20px;
    transition:ease 1s;
    flex-direction:column;
}

.userBox .userImg {
    background:var(--accent1);
    width:200px;
    height:260px;
    border-radius:10px;
    flex-shrink:0;
    margin-left:20px;
}

.userBox .userImg img {
    width:200px;
    height:245px;
    object-fit:cover;
    object-position:center;
    border-radius:0 0 10px 10px;
}

.userBox .userData {
    flex-direction:column;
    height:260px;
    flex-grow:1;
}

.userBox .userData span {
    background:var(--bckg2);
    border:var(--border1);
    margin-bottom:10px;
    flex-grow:1;
    align-self:stretch;
    border-radius:20px;
    padding:0 10px;
}

.userBox .userData span:last-of-type {
    margin-bottom:0;
}

.userBox .userData b, .userBox  {
    font:10px 'Fira Sans';
    font-weight:700;
    letter-spacing:1px;
    color:var(--accent2);
    flex-grow:1;
}




.userBox { 
    --bckg1:red; 
    --bckg2:white; 
    --bckg3:#fafafa; 
    --accent1:green; 
    --accent2:black; 
    --text:#999; 
    --title:#fff; 
    --border1:1px solid #ddd; 
    --border2:1px solid rgba(0,0,0,0.15); 
}