/* Color variables */
:root {
	--myPurple: #511e9f;
	--myPurpleShadow: #36264f;
}


body{
    background: rgb(81,30,159);
    background: linear-gradient(137deg, rgba(81,30,159,1) 0%, rgba(54,38,79,1) 5%, rgba(0,0,0,1) 31%);
    color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.15px;
}