/* Color variables */
:root {
	--myPurple: #511e9f;
	--myPurpleShadow: #36264f;
  --myYellow: rgb(243, 166, 35);
  --myYellowShadow: rgb(165, 93, 25);
  --myRed: rgb(228, 7, 18);
}

/*
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}*/
body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 41%, rgba(54,38,79,1) 100%);
    color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.15px;
}